.category {
  &__list {
    list-style-type: none;
  }

  &__block {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $bg-color-primary;
    border-radius: 50%;
  }

  &__icon {
    position: absolute;
    display: inline-block;

    &--slim {
      background-image: url("../../icons/stack.svg#catslim");
      width: 36px;
      height: 50px;
    }

    &--gain {
      background-image: url("../../icons/stack.svg#catback");
      width: 67px;
      height: 28px;
    }
  }

  &__title {
    color: $primary-text-color;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
  }

  &__description {
    font-family: $secondary-font;
    color: $secodary-text-color;
    line-height: 18px;
  }

  &__link {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: $primary-text-color;
  }
}
