.logo {
  display: flex;
  align-items: center;

  &__text {
    margin-left: 54px;

    @media (min-width: $tablet-width) {
      margin-left: 13px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 14px;
    }
  }

  &__pic {
    display: flex;
  }
}
