.main-footer {
  background-color: #f2f2f2;

  &__wrapper {
    padding: 40px 20px;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;

    &-icon {
      display: block;
      margin: 0 auto;
    }
  }
}
