.promo {
  background: linear-gradient(0deg, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/main-bg-mobile@1x.webp");
  background-repeat: no-repeat;
  background-size: 100% 302px, 100% 302px;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 27px 20px 0;
    min-height: 480px;
  }

  &__img {
    position: absolute;
    top: 167px;
    left: 18px;
  }

  &__title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
  }

  &__slogan {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
  }

  &__button {
    width: 100%;
    padding: 10px 0;
    margin-top: auto;
  }
}
