.steps {
  &__wrapper {
    padding: 0 20px 49px;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 24px;
  }

  &__item {
    margin-left: 80px;

    &--leaf::before {
      content: "";
      position: absolute;
      background-image: url("../../icons/stack.svg#iconleaf");
      width: 60px;
      height: 60px;
      left: 0;
    }

    &--powder::before {
      content: "";
      position: absolute;
      background-image: url("../../icons/stack.svg#iconpowder");
      width: 60px;
      height: 60px;
      left: 0;
    }

    &--food::before {
      content: "";
      position: absolute;
      background-image: url("../../icons/stack.svg#iconfood");
      width: 60px;
      height: 60px;
      left: 0;
    }

    &--time::before {
      content: "";
      position: absolute;
      background-image: url("../../icons/stack.svg#icontime");
      width: 60px;
      height: 60px;
      left: 0;
    }
  }

  &__title {
    margin-bottom: 42px;
  }

  &__description {
    margin-top: 2px;
  }
}
